{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inteligencia Tecnologica{% endblock %}</title>
    <!--
      Insert favicon!
    -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="{% static 'front/styles.css' %}" rel="stylesheet" />
    <script
      src="https://unpkg.com/react@17/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    {% block script %} {% endblock %}
  </head>
  <body>
    <nav class="navbar bg-light" id="main-header">
      <a class="navbar-brand" href="#">
        <img src="{% static "front/icons/full_logo.jpeg"%}" style="width: 200px;"></img>
      </a>
      {% if request.user.is_authenticated %}
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#"> {{request.user}} </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Reports </a>
        </li>
      </ul>
      {%endif%}
    </nav>
    <!--
        Header layout with navbar:
            - Profile
            - Past reports
            - Bespokem Logo

    -->
    <div class="container">{% block body %} {% endblock %}</div>
  </body>
</html>
